<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Title</title>
</head>
<body style="background-color: #d8dada; font-size: 19px; max-width: 800px; margin: 0 auto; padding: 3%;">
	<div style="background-color: #f0f6fb; magrin: 3% 0 3% 3%;">
		<header style="width: 98%;">
			<div>
		</div>
		</header>
		<div>
			<img style="max-width: 100%" src="
				{% if user.language == 'EN' %}
				{{ banner_english }}
				{% else %}
				{{ banner_french }}
				{% endif %}
				" title="source: imgur.com" />
		</div>
		<p style="margin: 3%">
				{% if user.language == 'EN' %}
				{{ body_english }}
				{% else %}
				{{ body_french }}
				{% endif %}
		</p>
		<a style="
			float: right;
			margin: 0 2% 4% 0;
			background-color: #303840;
			color: #f6faff;
			text-decoration: none;
			font-weight: 800;
			padding: 8px 12px;
			border-radius: 8px;
			letter-spacing: 2px;"
		  href="{{ protocol }}://{{ domain }}{% url 'users:set-password' uidb64=uid token=token %}">
			{% if user.language == 'EN' %}
			{{ button_english }}
			{% else %}
			{{ button_french }}
			{% endif %}
		</a>
		<hr style="height: 1px; background-color: #303840; clear: both; width: 96%; margin: auto;" />
		<div style="text-align: center; padding-top: 3%; padding-bottom: 3%; line-height: 16px; font-size: 12px;">
			<footer>
				My Company LLC<br />
				123 Cherry St.<br />
				Kansas City, MO 98765<br />
				(323)213-1234
			</footer>
		</div>
	</div>
</body>
</html>