h1 {
    color: blue;
    font-family: Arial;
}
table {
    border: 1px solid black;
    border-collapse: collapse;
}
td {
    font-family: Arial;
    height: 20px;
}
th {
    font-family: Arial;
    height: 20px;
}
#th-done {
    border: 1px solid black;
    background-color: blue;
    color: white;
    padding-top: 4px;
    padding-right: 20px;
    padding-bottom: 4px;
    padding-left: 20px;
}
#th-due-date {
    border: 1px solid black;
    background-color: blue;
    color: white;
    padding-top: 4px;
    padding-right: 40px;
    padding-bottom: 4px;
    padding-left: 40px;
}
#th-task-description {
    border: 1px solid black;
    background-color: blue;
    color: white;
    width: 420px;
}
.td-done {
    border: 1px solid black;
}
.td-due-date {
    border: 1px solid black;
}
.td-gray {
    background-color: lightgray;
    border-right: 1px solid black;
}
.td-white {
    background-color: white;
    border-right: 1px solid black;
}